.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 5px;
  cursor: pointer;
}

.context-menu div {
  padding: 5px 10px;
}

.context-menu div:hover {
  background-color: #f0f0f0;
}

.white-marker {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid #333;
}
